.picture-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #29273C;
  box-shadow: 0px 13px 20px 0px #80808029;
  border-radius: 0.7rem !important;
  max-width: 245px;
  min-width: 200px;
  margin-top: 20px;
  height: 200px;
}

.container-title {
  margin-bottom: 10px;
  color: white;
}

.container-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.container-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7D67FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0px 5px 10px 0px #e0c6f5;
  font-weight: bold;
}

.container-button:hover {
  background-color: #A020F0;
}

@media screen and (max-width: 1200px) {
  .picture-button-container {
    width: 100%;
    margin-top: 2rem;
  }

  .container-button {
    padding: 8px 16px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .picture-button-container {
    width: 100%;
    max-width: 23rem;
    margin-top: 2rem;
  }

  .container-button {
    padding: 6px 12px;
    font-size: 8px;
  }
}
