.challenge-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
    width: 100%;

    h2 {
      font-size: 28px;
      margin-bottom: 20px;
      color: black !important;
    }

    .results-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: white;
      width: 100%;
      max-width: 800px;
      margin-bottom: 20px;

      &.great {
        border: 2px solid #4caf50;
        background-color: #d4edda;
      }

      &.good {
        border: 2px solid #ffa726;
        background-color: #fff3e0;
      }

      &.failed {
        border: 2px solid #f44336;
        background-color: #f8d7da;
      }

      .results-summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;

        p {
          font-size: 18px;
          color: black;
          margin-top: 10px;
        }
      }

      .view-results-button {
        background-color: #7d67ff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        margin-bottom: 15px;

        &:hover {
          background-color: #5d3fd3;
        }
      }
    }

    .questions-review {
      width: 100%;
      max-width: 900px;

      .question-result {
        background-color: #fff;
        color: black;
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 15px;
        border: 2px solid transparent;

        &.correct {
          background-color: #e8f5e9;
        }

        &.incorrect {
          background-color: #fbe9e7;
        }

        h3 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 10px;
          font-size: 16px;
        }

        ul {
          list-style-type: none;
          padding: 0;

          li {
            font-size: 16px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            color: black;
            background-color: inherit;

            &.selected-choice {
              font-weight: bold;
              color: white;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .progressbar-container {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .challenge-result-buttons {
      display: flex;
      gap: 10px;

      .view-results-button {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        background-color: #7d67ff;
        color: white;
        border: none;

        &:hover {
          background-color: #5d3fd3;
        }
      }
    }
  }