.syllabus-container {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: -15px;
    overflow: auto;
  }
  
  .title-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #5D3FD3;
    color: white;
    border-radius: 4px;
  }
  
  .lesson-list {
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .lesson-container {
    margin-bottom: 15px;
  }
  
  .lesson-item-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .lesson-item {
    background-color: transparent;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 10px;
    position: relative;
  
    &.disabled {
      cursor: not-allowed;
      color: #aaa;
    }
  
    h3 {
      margin-left: 10px;
      flex-grow: 1;
    }
  }
  
  .lesson-icon {
    color: #5D3FD3;
    font-size: 1.5rem;
    margin-top: -8px;
  }
  
  .learn-button {
    background-color: #7D67FF;
    height: 40px;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  
    &:hover {
      background-color: #5D3FD3;
    }
  }
  
  .quiz-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
  }
  
  .quiz-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: black;
  
    &.disabled {
      cursor: not-allowed;
      color: #aaa;
    }
  
    .quiz-label {
      margin-left: 10px;
    }
  
    .xp-label {
      margin-left: auto;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
  
  .quiz-icon {
    color: #e91e63;
    font-size: 1.2rem;
  }
  
  .quiz-lock-icon {
    color: #aaa;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .lock-icon {
    color: #aaa;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  
  .completed-icon {
    color: #28a745; 
    margin: 10px;
    font-size: 1.2rem;
  }

  .lesson-item-cont{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .lesson-title{
    margin-top: 10px;
  }

  .exam-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;  
    box-shadow: 0px 10px 15px 0px #b650f4;
  }
  
  .exam-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: black;
  
    &.disabled {
      cursor: not-allowed;
      color: #aaa;
    }
  
    .exam-title {
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  
  .exam-icon {
    color: #d9534f; 
    font-size: 1.5rem;
    margin-top: -5px;
  }
  
  .exam-lock-icon {
    color: #aaa;
    margin-left: 10px;
    font-size: 1.2rem;
    margin-top: -5px;
  }
  
  